<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Welcome to Orion Payment Gateway</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Book Travel</h1>
      <p class="lead">TPlease click the book travel button to start booking your travel.</p>
      <a class="btn btn-info" routerLink="/dashboard" routerLinkActive="active">Book Travel</a>
    </div>
  </div>
</div>
